*{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    /* background-color: rgb(212, 205, 205); */
}

/* cabeçalho */

header{
    height: 70px;
    width: 95%;
    margin: 20px;
    text-align: right;        
}

.quemsomos{
    margin-left: 20px;
    display: inline;
    font-size: 20px;
}

.sejafranco{
    margin-left: 20px;
    display: inline;
    font-size: 20px;
}

.entregadores{
    margin-left: 20px;
    display: inline;
    font-size: 20px;
}

#logo{
    margin-left: 20px;
    display: inline;
    font-size: 20px;
    width: 300px;
    float: left;
    height: 300px;
   /*  background-color: rgb(212, 205, 205) */;
     
    
}

#entrar-topo{
    background-color:rgb(97, 58, 37);
    color: rgb(212, 203, 199);
    border: 0.5px solid gray;
}

button{
    background-color: rgb(97, 58, 37);
    color: white;
    border-radius: 4%;
    margin-left: 20px;
    display: inline;
    width: 100px;
    height: 40px;
    font-size: 20px;
    box-shadow: 2px 2px 2px black;
}

a{
    text-decoration: none;
    color: 	rgb(97, 58, 37);
}


/* centro da página */


main{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 19%;
    font-size: 40px;
}

#comida-emcasa{
    color: 	rgb(97, 58, 37);
}

#descubra{
    font-size: 30px;
}

#lupa{
    width: 20px;
    position: absolute;
    left: 40px;
    top: 135px;
}

#busca-central{
    width: 600px;
    height: 40px;
    padding: 10px 10px 10px 50px;

}

#entrar-central{
    position: relative;
    top: 2px;
    right: 10px;
    border: 0.5px solid gray;
}

.redes-sociais{
    width: 50px;
    position: relative;
    left: 500px;
    top:50px;
    /* background-color: rgb(212, 205, 205);
    color: rgb(212, 205, 205); */
}



/* #logo2 {
    margin-left: 40px;
    display: inline;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    width: 150px;
    height: 150px;
} */



/* fim da página */

/*footer{
    display: block;
    border: 1px solid rgb(212, 205, 205);
    border-radius: 5px 5px 0 0;
    position: relative;
    bottom: 0px;
    width: 1000px;
    text-align: center;
    margin-left: 13%;
    padding: 10px;
    background-color: rgb(228, 222, 219);
    
}*/
#footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 10vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 1px solid rgb(212, 205, 205);
    border-radius: 5px 5px 0 0;
    background-color: rgb(228, 222, 219);
}
footer section {
    justify-self: first baseline;
    align-self: center;
}
footer h3 {
    padding: 10px;
}

@media screen and (min-width: 200px) and (max-width: 600px) {
    
     nav main {
        display: flex;
        justify-content: space-between;
        font-size: 1.5em;
        
    }
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1% 1%;
    }
    .quemsomos, .entregadores , .sejafranco {
        display: flex;
        flex-direction: column;
        padding: 1%;
        align-items: baseline;
    } 
    .conteudo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 50%;
        margin-left: 40%;
    }
    .conteudo p {
        display: flex;
    }

    #descubra {
        padding: 30%;
    }

    /*#busca-central {
        display: flex;
        width: 100px;
        height: 20px;
        padding: 5px 5px 5px 25px;

    }*/

    #logo {
        display: flex;
        justify-content: space-between;
    }
    #entrar-topo {
        display: flex;
    }
    main {
        display: flex;
        flex-direction: column;
    }
    #comida-emcasa {
        display: flex;
        flex-direction: column;
    }

    #footer {
        display: flex;
        flex-direction: column;
        
    } 
}

